<div class="ecosystem-card">
    <div class="social-links">
        <a href="https://github.com/MannLabs" target="_blank" rel="noopener" aria-label="GitHub">
            <img src="{{ "images/icons/external/github.svg" | absURL }}">
        </a>
        <a href="https://bsky.app/profile/mannlab.bsky.social" target="_blank" rel="noopener"
            aria-label="Bluesky">
            <img src="{{ "images/icons/external/bluesky.svg" | absURL }}" alt="Bluesky icon" width="24" height="24" />
        </a>
        <a
            href="https://www.youtube.com/@LabsMann" target="_blank" rel="noopener"
            aria-label="Youtube">
            <img src="{{ "images/icons/external/youtube.svg" | absURL }}" alt="Youtube icon" width="24" height="24" />
    </a>
    </div>
</div>

<style>
    .ecosystem-card {
        background:  #efefef 100%;
        border-radius: 8px;
        padding: 1rem;
        padding-left: 2rem;
        margin: 2rem 0;
        /* color: white; */
        color: #000000;
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 80%;
    }

    .social-links {
        display: flex;
        gap: 1.5rem;
        margin-left: auto;
    }

    .social-links a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: rgba(255, 255, 255, 0);
        border-radius: 50%;
        color: white;
        text-decoration: none;
        transition: all 0.3s ease;
    }

    .social-links a:hover {
        background: rgba(255, 255, 255, 0.3);
        transform: scale(1.1);
    }

    .social-links svg {
        width: 20px;
        height: 20px;
    }

    @media (max-width: 768px) {
        .ecosystem-card {
            flex-direction: column;
            text-align: center;
            padding: 1.5rem;
        }

        .ecosystem-logo img {
            width: 60px;
            height: 60px;
        }

        .ecosystem-info h2 {
            font-size: 1.5rem;
        }
    }
</style>